includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/ergebnis/phpstan-rules/rules.neon
    - vendor/thecodingmachine/phpstan-strict-rules/phpstan-strict-rules.neon

parameters:
    level: max
    paths:
        - src

    checkMissingIterableValueType: true
    checkGenericClassInNonGenericObjectType: false
    reportUnmatchedIgnoredErrors: true

    ignoreErrors:
        - "#Undefined variable: \\$this#"
        - "#Call to static method user\\(\\) on an unknown class Auth#"
        - "#Variable method call on Illuminate\\\\Database\\\\Eloquent\\\\Model#"
        - "#Variable property access on Illuminate\\\\Database\\\\Eloquent\\\\Model#"
        - "#Thrown exceptions in a catch block must bundle the previous exception#"
        - "#Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model#"
        - "#Short ternary operator is not allowed#"
