includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/ergebnis/phpstan-rules/rules.neon
    - vendor/thecodingmachine/phpstan-strict-rules/phpstan-strict-rules.neon

parameters:
    level: max
    paths:
        - src

    checkMissingIterableValueType: true

    reportUnmatchedIgnoredErrors: false

    ignoreErrors:
        - identifier: missingType.generics
        - "#Undefined variable: \\$this#"
        - "#Call to static method user\\(\\) on an unknown class Auth#"
        - "#Variable method call on Illuminate\\\\Database\\\\Eloquent\\\\Model#"
        - "#Variable property access on Illuminate\\\\Database\\\\Eloquent\\\\Model#"
        - "#Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model#"
        - "#Short ternary operator is not allowed#"
        - "#Construct empty\\(\\) is not allowed#"
        - "#construct empty\\(\\) should not be used#"
        - "#Thrown exceptions in a catch block must bundle the previous exception#"
        - "#is not allowed to extend \"Exception\"#"
        - "#Call to an undefined method Illuminate\\\\Testing\\\\TestResponse::assert(V|Inv)alid#"
        - "#with a nullable type declaration#"
