name: Run Tests

on:
  push:
    paths-ignore:
      - 'docs/**'
  pull_request:
    paths-ignore:
      - 'docs/**'

jobs:
  ci:
    runs-on: ubuntu-latest
    strategy:
      matrix:

        php: [ 7.3, 7.4, 8.0, 8.1, 8.2 ]
        laravel: [ 8.*, 9.*, 10.*]
        dependency-version: [prefer-lowest, prefer-stable]

        include:
          - laravel: 8.*
            testbench: ^6.25
          - laravel: 9.*
            testbench: ^7.0
          - laravel: 10.*
            testbench: ^8.0

        exclude:
          - laravel: 9.*
            php: 7.3
          - laravel: 9.*
            php: 7.4
          - laravel: 10.*
            php: 7.3
          - laravel: 10.*
            php: 7.4
          - laravel: 10.*
            php: 8.0

    name: P${{ matrix.php }} - L${{ matrix.laravel }} - ${{ matrix.dependency-version }}

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php }}
        tools: composer:v2
        coverage: none

    - name: Setup Problem Matches
      run: |
        echo "::add-matcher::${{ runner.tool_cache }}/php.json"
        echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"

    - name: Install PHP dependencies
      run: |
        composer require "laravel/framework:${{ matrix.laravel }}" "orchestra/testbench:${{ matrix.testbench }}" --no-interaction --no-update
        composer update --${{ matrix.dependency-version }} --prefer-dist --no-interaction --no-progress --ansi

    - name: Execute Tests
      run: ./vendor/bin/pest --colors=always
